# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.xml
*.iml
*.hcl
*.tfstate
*.backup
/First_Tests/.terraform